.movies {
   position: absolute; 
   top: 10%;
   left: 30%;
   transform: translate(-50% -50%);
}

h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
}

table {
    width: 800px;
    font-family: sans-serif;
    font-weight: 200;
    border-collapse: collapse;
    border: 2px solid#55608f ;
}

th,
td {
    padding: 10px;
    border: solid 1px #0000005a;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
    font-size: 20px;
    color: #ffffff;
}

